body {
  background: lighten($info, 50%);
  min-height: 100vh;
  padding: 5rem 0 1rem;
}

main {
  @include make-container;
  @include make-container-max-widths;

  section {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    background: $white;
    border: 1px solid;
    cursor: pointer;
    margin: -1px;
    outline: none;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }

  }

  .content {
    @include make-row;

    &:empty {
      &::before {
        color: lighten($info, 25%);
        font-size: 10vh;
        line-height: .85;
        text-align: center;
        width: 100%;
      }
    }
  }
}


nav {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .fixed-top;

  .app-name {
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
  }
}
